@import "../../../styles/settings.scss";

.root {
  width: 100%;

  .search {
    width: fit-content;
    margin: auto;
  }
}

.boxes {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .box {
    margin: 5px;
    width: 200px;
  }

  .country,
  .number {
    font-size: 25px;
  }
  .confirmed {
    margin-top: 20px;
  }
  .link {
    text-decoration: none;
    color: orange;
    margin-left: 7px;
  }
}
